body {
	background-color: rgba(10,223,227,1);
	
}	#conteiner {
		position: relative;
		float: right 25%;
		margin: 0px auto;
		height: 500px; /* Высота блока */
		width: 700px; /* Ширина блока */
		background-color: rgba(255,255,255,0);
		
	}	h1 {
			text-align: center;
			color: blue;
			
		}
		
		.gm {
			position: inherit;
			top: 40px;
			margin: 0px auto;
			height: 408px; /* Высота блока */
			width: 408px; /* Ширина блока */
			background-color: rgba(82,65,176,0);
			
		}	#head_intime {
				position: absolute;
				bottom: 370px;
				margin-bottom: 0px;
				height: 66px; /* Высота блока */
				width: 408px; /* Ширина блока */
				z-index: 2;
			
			}	#head {
					position: inherit;
					left: 4px;
					background-color: rgba(199,76,199,0);
					text-align: center;
					height: 25px; /* Высота блока */
					width: 400px; /* Ширина блока */
					z-index: 2;
					
				}	#intime {
						position: absolute;
						height: 20px;
						width: 408px;
						margin-top: 7px;
						
					}	#time {
							text-align: center;
							margin: 0px auto;
							margin-top: -7px;
							cursor: pointer;
							height: 20px;
							width: 192px;	
							font-size: 25px;
							  color:#1f5bb0;
							  text-shadow:0 0 3px #de3394; 		
						}
					.img {
						height: 30px; /* Высота блока */
						width: 396px; /* Ширина блока */
					}
				#timer {
					position: absolute;
					top: 28px;
					text-align: center;
					height: 30px; /* Высота блока */
					width: 400px; /* Ширина блока */
					background-color: rgba(105,159,222,1);
					border: 4px solid #00125c;
					border-top-left-radius: 11px;
					border-top-right-radius: 11px;
					font-size: 25px;
					color: white;
					z-index: 1;
				}
			
			
					
							/* ------------------------------ */
			#game_place {
				position: absolute;
				top: 0px;
				margin-top: 2px;
				height: 400px; /* Высота блока */
				width: 400px; /* Ширина блока */
				background-color: rgba(153,89,205,1);
				border: 4px solid #00125c;
				border-radius: 11px;
				z-index: 4;
				
			}	.cell {
					position: absolute;
					
					background-color:#fcf6fd;
					height: 98px;
					width: 98px;
					border: 1px solid black;
					border-radius: 8px;
					text-align: center;
					font-size: 80px;
					cursor: pointer;
					-moz-user-select: none;
					-khtml-user-select: none;
					-webkit-user-select: none;
					-o-user-select: none;
					user-select: none;

				}
			
				
				#cell_not {
					top: 300px;
					left: 300px;
					position: absolute;
					background-color:rgba(255,255,255,0);
					border-color: rgba(255,255,255,0);
					cursor: default;
				}
				
				div [class~="y0"]{
					top: 0px;
				}
				div [class~="y1"]{
					top: 100px;
				}
				div [class~="y2"]{
					top: 200px;
				}
				div [class~="y3"]{
					top: 300px;
				}
				
				div [class~="x0"]{
					left: 0px;
				}
				div [class~="x1"]{
					left: 100px;
				}
				div [class~="x2"]{
					left: 200px;
				}
				div [class~="x3"]{
					left: 300px;
				}
				
				
				
				
			.img3 {
				position: absolute;
				left: -30px;
				top: 9px;
				
			}
			/* ------------------------------ */
			#flap {
				position: absolute;
				height: 408px;
				width: 408px;
				margin-top: 2px;
				background-color:rgba(28,28,28,0.57);
				border-radius: 10px;
				z-index: 20;
				
			}	#div_form {
					text-align: center;
					margin: 0px auto;
					margin-top: 120px;
					border: 4px groove #6a0ba5;
					border-radius: 15px;
					background-color: rgba(76,190,200,0.64);
					height: 150px; /* Высота блока */
					width: 300px; /* Ширина блока */
					
				}	#massege {
						margin: 0px auto;
						margin-top: 24px;
						height: 50px; /* Высота блока */
						width: 280px; /* Ширина блока */
						
					}	#div_message, #div_in_name{
							font-size: larger;
							font-style: italic;
							font-weight: bold;
							background-color: rgba(76,189,199,0);
							height: 50px; /* Высота блока */
							width: 280px; /* Ширина блока */
							color: blue;
							
						}	#inp_inp_name {
								width: 100px; /* Ширина блока */
							}
							
							.inp {
								text-align: left;
								color: blue;
							}
			/* ----------------------------------- */

			
			
			
			#rating {
				
				right: 274px; /* Положение */ /* 83px */
				position: absolute;
				top: 0px;
				height: 408px; /* Высота блока */
				width: 230px; /* Ширина блока */
				margin-right: -306px;
			    z-index: 1
			     
			}	#inrating {		
					position: inherit;
					float: left;
					background-color: rgba(105,159,222,1);
					height: 400px; /* Высота блока */
					width: 192px; /* Ширина блока */
					border: 4px solid #00125c;
					border-bottom-right-radius: 11px;
					border-top-right-radius: 11px;
					
					z-index: 3;
					
				}	#title {
						background-color: rgba(117,205,234,0.64);
						height: 0px; /* Высота блока */
						width: 182px; /* Ширина блока */
						margin-left: 10px;
						text-decoration: underline;
						color: #0e1abb;
					}
					
					#res_time {
						margin: 0px auto;
						height: 372px; /* Высота блока */
						width: 182px; /* Ширина блока */
						background-color: rgba(105,159,222,1);
						border-radius: 8px;
						padding: 5px;
						padding-top: 23px;
						
					}	.name_and_time {
							text-align: left;
							float: left;
							height: 20px; /* Высота блока */
							width: 180px; /* Ширина блока */
							background-color: rgba(162,203,86,0.64);
							border-radius: 10px;
							border: 1px solid #b373c0;
						}	.login {
								float: left;
								height: 20px; /* Высота блока */
								width: 100px; /* Ширина блока */
								text-indent: 20px;
								text-shadow: 3px 3px 3px white;
								color: #005d4f;
							}
							.colon {
								float: left;
								height: 20px; /* Высота блока */
								width: 10px; /* Ширина блока */
								
							}
							.res_time {
								float: left;
								height: 20px; /* Высота блока */
								width: 70px; /* Ширина блока */
								text-shadow: 3px 3px 3px white;
							}
						
				.img1 {
					position: relative;
					float: right;
					margin-top: 6px;
					margin-right: 2px;
					z-index: 4;
				}
				
				.open_png {
					position: relative;
					float: right;
					margin-top: 192px;
					margin-right: -25px;
					cursor: pointer;
					z-index: 6;
				}
				
			#radio {
				position: absolute;
				height: 165px; /* Высота блока */
				width: 400px; /* Ширина блока */
				border: 4px solid #00125c;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				top: 236px;
				/* Переход */
			     -webkit-transition: top 0.3s ease-out 0.1s;
			     -moz-transition: top 0.3s ease-out 0.1s;
			     -o-transition: top 0.3s ease-out 0.1s;
			     transition: top 0.3s ease-out 0.1s;
				

				
			}  	iframe {
					position: absolute;
					border: 1px solid #00135d;
					left: 0px;
					top: 0px;
					overflow: hidden;
					height: 163px;
					width: 398px; 
					z-index: 2;
				}
				
				.img2 {
					position: relative;
					margin-left: -2px;
					top: 168px;
					height: 30px; /* Высота блока */
					width: 402px; /* Ширина блока */
					z-index: 3;
				}
				
				.radio {
					position: relative;
					height: 20px; /* Высота блока */
					width: 80px; /* Ширина блока */
					float: left;
					margin-top: 137px;
					margin-left: 160px;
					cursor: pointer;
					z-index: 4;
				}
		




.img1, .img3 {
	height: 394px; /* Высота блока */
	width: 30px; /* Ширина блока */
}















